.project {
    display: flex;
    flex-direction: column;

    width: fit-content;
    padding: 1rem;

    background-color: white;
    color: #2b2b2b;
    border-radius: 0.5rem;
}

.project img {
    width: 20rem;
    height: 15rem;
    object-fit: cover;

    border-radius: 0.5rem;
}

.title-container {
    margin-bottom: 1rem;
}

.tech-stack-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    margin-top: 0.5rem;
    max-width: 25ch;

    list-style: none;
}

.tech {
    padding: 0.2rem 1rem;

    font-size: 0.7rem;

    border: 1px solid #2b2b2b;
    border-radius: 2rem;

    font-style: italic;
}

.project p {
    font-size: 0.9rem;
    max-width: 30ch;
}

/* Gestione card per progetti futuri */

.project--empty {
    justify-content: center;
    align-items: center;

    background-color: unset;
    color: white;

    text-align: center;
}

.project--empty img {
    width: 20rem;
    height: 20rem;
}

.project--empty .title-container {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
