---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import Hero from '../components/Hero.astro';
import AboutMe from '../components/AboutMe.astro';
import Experiences from '../components/Experiences.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio">
    <Navbar />
    <main>
        <Hero />
        <AboutMe />
        <Experiences />
        <Projects />
    </main>
</Layout>

<style>
    :root {
        --bg: hsl(98, 22%, 91%);
        --white: hsl(0, 100%, 99%);
        --black: hsl(0, 0%, 17%);
        --black-500: hsl(0, 0%, 50%);

        --primary: hsl(98, 22%, 70%);
        --primary-500: hsl(98, 22%, 50%);
        --secondary: hsl(29, 68%, 63%);
        --secondary-700: hsl(29, 68%, 70%);
    }

    html {
        color: var(--black);
        background-color: var(--bg);
    }

    main {
        margin: auto;
        padding: 0.5rem;

        width: 100%;
        max-width: 1500px;

        font-size: 20px;
        line-height: 1.6;
    }
</style>
