---
import { BsGithub, BsLinkedin } from 'react-icons/bs';

import './navbar.css';
---

<nav>
    <ul class="dsk-link-list">
        <!-- <li>
            <a href="/"> Home </a>
        </li>

        <li>
            <a aria-disabled="true"> Progetti (Prossimamente 🙂)</a>
        </li> -->

        <li class="social-nav-item">
            <a target="_blank" href="https://github.com/aledcr">
                <BsGithub />
                <span>aledcr</span>
            </a>
        </li>

        <li class="social-nav-item">
            <a
                target="_blank"
                href="https://www.linkedin.com/in/alessandro-della-corte/"
            >
                <BsLinkedin />
                <span>Alessandro Della Corte</span>
            </a>
        </li>
    </ul>
</nav>
