---
import { BsGithub, BsLinkedin } from 'react-icons/bs';

import './navbar.css';
---

<nav>
    <ul class="dsk-link-list">
        <li>
            <a href="#home"> Home </a>
        </li>

        <li>
            <a href="#portfolio"> Progetti </a>
        </li>

        <li class="social-nav-item">
            <a href="#about-me">
                <BsGithub />
                <span>aledcr</span>
            </a>
        </li>

        <li class="social-nav-item">
            <a href="#contact-me">
                <BsLinkedin />
                <span>Alessandro Della Corte</span>
            </a>
        </li>
    </ul>
</nav>
