nav {
    width: 100%;
    padding-block: 1rem;

    z-index: 10;
}

nav ul {
    display: flex;
    gap: 1.5rem;

    list-style: none;

    width: fit-content;
    margin-left: auto;
}

nav a {
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

/* #region Media queries */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
    nav .social-nav-item {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    nav .social-nav-item {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    nav .social-nav-item {
        display: flex;
    }
}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    nav .social-nav-item {
        display: flex;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    nav .social-nav-item {
        display: flex;
    }
}
