---
import { MobileNav } from '../MobileNav/MobileNav';
import './navbar.css';
---

<nav>
    <ul class="dsk-link-list">
        <li>
            <a href="#home"> Home </a>
        </li>

        <li>
            <a href="#portfolio"> Portfolio </a>
        </li>

        <li>
            <a href="#about-me"> About me </a>
        </li>

        <li>
            <a href="#contact-me"> Contact me</a>
        </li>

        <li>
            <a class="link-btn" href="#cv"> Curriculum</a>
        </li>
    </ul>

    <MobileNav client:load />
</nav>
