<section>
    <h1>About me</h1>
    <p>
        Diplomato classe 2020 presso l'Istituto Basilio Focaccia (Salerno,
        Campania) indirizzo Informatica e Telecomunicazioni.Durante gli anni di
        scuola ho appreso le nozioni di base della programmazione (linguaggio
        C), nozioni di programmazione ad oggetti (Java) e le basi dello sviluppo
        web (HTML, CSS, JavaScript lato client; PHP e SQL per quanto riguarda
        lato server e database).Ottenuto il diploma, ho ricoperto il ruolo di
        sviluppatore web front-end per 2 anni in un team che tratta la creazione
        e manutenzione di piattaforme e-commerce. Ero responsabile
        principalmente della parte grafica e funzionale della piattaforma per
        quanto riguarda l’ambiente client.
    </p>
</section>

<style>
    section {
        margin-block: 2rem;
    }

    h1 {
        display: block;

        width: fit-content;
        margin-left: auto;
        margin-bottom: 1rem;

        font-size: 3rem;
        font-weight: 400;
    }

    p {
        opacity: 0.9;

        font-size: 1.1rem;
    }
</style>
