<section>
    <h1>My experiences</h1>

    <div class="experience">
        <h2>Diploma in IT</h2>
        <i>I.S.S. B.Focaccia (SA, Italy) | 2015 – 2020</i>
        <p>
            <ul>
                <li>
                    During the third year I studied the basics of programming
                    using the C programming language;
                </li>

                <li>
                    During the fourth year I approached Object Oriented
                    Programming using Java
                </li>

                <li>
                    The last year was dedicated to web development. I used HTML,
                    CSS and Javascript for the client, PHP and SQL for the
                    backend.
                </li>
            </ul>
        </p>
    </div>

    <div class="experience">
        <h2>Software developer (work-study)</h2>
        <i>Sense Square (Penta, SA, Italy) | 04/2019 – 05/2019 </i>
        <p>
            A work-study experience. I assisted the employees in:
            <ul>
                <li>
                    Developing a software (written in Pyton) to process and
                    analyze data (CSV format) gathered from the company’s air
                    pollution analysis unit;
                </li>

                <li>
                    3D modeled the body for the electronic board (Arduino) of
                    the air pollution analysis unit.
                </li>
            </ul>
        </p>
    </div>

    <div class="experience">
        <h2>Front-end developer</h2>
        <i>Freelance | 2020 – 2022 </i>
        <p>
            I worked as a front-end developer for a team that handles the
            development and maintenance of e-commerce platforms.
        </p>
        <p>
            I was in charge of the UI/UX design (using Figma) and development of
            web applications written mainly in HTML, CSS and Javascript.
        </p>
    </div>
</section>

<style>
    section {
        margin-block: 2rem;
    }

    h1 {
        display: block;

        width: fit-content;

        margin-bottom: 1rem;

        font-size: 3rem;
        font-weight: 400;
    }

    .experience {
        margin-block: 2rem;
        max-width: 70ch;
    }

    i {
        opacity: 0.7;
        font-size: 1rem;
    }

    p {
        opacity: 0.9;

        font-size: 1rem;
    }

    ul {
        padding-left: 1rem;
    }

    li {
        font-size: 1rem;
    }
</style>
