<section class="experiences">
    <div>
        <h2>Istruzione</h2>
        <ul>
            <li>
                <h3>Academy System Integrator</h3>
                <span>UMANA S.p.A & GPI Group | 11/2023 – 12/2023</span>
            </li>

            <li>
                <h3>Disploma in IT</h3>
                <span>I.S.S. B.Focaccia (SA, Italy) | 2015 – 2020</span>
            </li>
        </ul>
    </div>

    <div>
        <h2>Esperienze</h2>
        <ul>
            <li>
                <h3>System Integrator</h3>
                <span>GPI Group | 01/2024 – presente </span>
            </li>

            <li>
                <h3>Sviluppatore Front-end</h3>
                <span>Freelance | 2020 – 2022 </span>
            </li>

            <li>
                <h3>Sviluppatore (Alternanza scuola-lavoro)</h3>
                <span>Sense Square (Salerno, Italy) | 04/2019 – 05/2019</span>
            </li>
        </ul>
    </div>
</section>

<style>
    section.experiences {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        margin-block: 3rem;
    }

    section.experiences ul {
        list-style: none;
    }

    section.experiences li {
        margin-block: 1rem;
    }

    section.experiences h2 {
        color: var(--primary-500);
    }

    section.experiences h3 {
        font-weight: 500;
    }

    section.experiences span {
        font-size: 0.95rem;
        font-style: italic;

        color: var(--black-500);
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        section.experiences {
            gap: 5rem;
            padding-inline: 2rem;
        }
    }

    /*  X-Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        section.experiences {
            gap: 5rem;
            padding-inline: 2rem;
        }
    }

    /* XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1400px) {
        section.experiences {
            gap: 5rem;
            padding-inline: 2rem;
        }
    }
</style>
