---
import { BsGithub, BsLinkedin, BsEnvelopeFill } from 'react-icons/bs';
---

<section class="hero">
    <img src="/hero.gif" alt="Hero Image" />

    <h1 class="title">Ciao! Sono <b>Alessandro</b></h1>

    <div class="text-container">
        <p>
            Un giovane sviluppatore front-end alle prime armi con una passione
            per il design
        </p>

        <p>
            Se vuoi saperne di più
            <a href="/cv-della-corte.pdf" download>scarica il mio CV</a> :)
        </p>
    </div>

    <ul class="mobile-contacts">
        <li>
            <a target="_blank" href="https://github.com/aledcr">
                <BsGithub />
                <span>aledcr</span>
            </a>
        </li>

        <li>
            <a
                target="_blank"
                href="https://www.linkedin.com/in/alessandro-della-corte/"
            >
                <BsLinkedin />
                <span>Alessandro Della Corte</span>
            </a>
        </li>

        <li>
            <a target="_blank" href="mailto:dellacortealex4@gmail.com">
                <BsEnvelopeFill />
                <span>dellacortealex4@gmail.com</span>
            </a>
        </li>
    </ul>
</section>

<style>
    section.hero {
        display: grid;
        grid-template-areas:
            'img title'
            'text text'
            'socials socials';
        align-items: flex-start;
        justify-items: flex-start;

        width: 100%;
    }

    img {
        grid-area: img;

        width: 25vw;
        height: 25vw;
        aspect-ratio: 1;

        border-top-left-radius: 10vw;
        border-bottom-right-radius: 10vw;
    }
    .hero .title {
        grid-area: title;

        width: fit-content;

        font-size: 1.6rem;
        font-weight: normal;
        text-align: start;
    }

    .hero .title b {
        color: var(--primary-500);
    }

    .hero .text-container {
        grid-area: text;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .hero .text-container p {
        font-size: 1rem;

        margin-block: 1rem;
        max-width: 40ch;
    }

    .mobile-contacts {
        list-style: none;

        grid-area: socials;

        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
    }

    .mobile-contacts a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        section.hero {
            grid-template-areas:
                'img title'
                'img text'
                'socials socials';
            grid-template-columns: auto 80%;
            column-gap: 3rem;

            padding: 2rem;
        }

        .hero .title {
            font-size: 2rem;
            white-space: nowrap;
        }

        .hero .text-container p {
            font-size: 1.1rem;
        }

        .mobile-contacts {
            display: none;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        section.hero {
            grid-template-areas:
                'img title'
                'img text'
                'socials socials';
            grid-template-columns: auto 80%;
            column-gap: 3rem;

            padding: 2rem;
        }

        .hero .title {
            font-size: 3rem;
            white-space: nowrap;
        }

        .hero .text-container p {
            font-size: 1.2rem;
        }

        .mobile-contacts {
            display: none;
        }
    }

    /*  X-Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        section.hero {
            grid-template-areas:
                'img title'
                'img text'
                'socials socials';

            grid-template-columns: auto 80%;
            column-gap: 3rem;

            padding: 2rem;
        }

        img {
            width: 18vw;
            height: 18vw;
        }

        .text-container p {
            font-size: 1.2rem;
        }

        .mobile-contacts {
            display: none;
        }
    }

    /* XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1400px) {
        section.hero {
            grid-template-areas:
                'img title'
                'img text';
            grid-template-columns: auto 80%;
            grid-template-rows: auto 15rem;
            column-gap: 3rem;

            padding: 2rem;
        }

        .text-container p {
            font-size: 1.2rem;
        }

        .mobile-contacts {
            display: none;
        }
    }
</style>
