<div>
    <h1>Hello! I'm <b>Alessandro</b></h1>

    <p>
        I’m a front-end developer who likes to craft solid and scalable
        front-end products with great user experiences
    </p>
</div>

<style>
    h1 {
        font-weight: normal;
    }

    p {
        max-width: 30ch;
    }
</style>
