---
import ProjectCard from './ProjectCard/ProjectCard.astro';
---

<section>
    <h1>My Projects</h1>

    <ul class="projects-list">
        <ProjectCard
            title="MediaLookbook"
            img="/projects-img/media-logbook.png"
            techList={[
                'Typescript',
                'React',
                'NodeJS',
                'Express',
                'MySQL',
                'Git',
                'Docker',
            ]}
        >
            Una semplice applicazione web per tenere traccia di film, serie tv,
            anime, etc. che ho intenzione di guardare oppure ho guardato
        </ProjectCard>

        <ProjectCard
            title="Portfolio"
            img="/projects-img/portfolio.png"
            techList={['Typescript', 'AstroJS', 'Git']}
        >
            Il sito web che stai visitando in questo momento :)
        </ProjectCard>

        <ProjectCard
            title="Non c'è più nulla da vedere qui"
            img="/future-projects.svg"
            techList={[]}
        >
            Purtroppo al momento sono a corto di idee per nuovi progetti, non
            appena ce ne saranno di nuovi sarà possibile vederli qui :)
        </ProjectCard>
    </ul>
</section>

<style>
    h1 {
        display: block;

        width: fit-content;
        margin-left: auto;
        margin-bottom: 1rem;

        font-size: 3rem;
        font-weight: 400;
    }

    p {
        opacity: 0.9;

        font-size: 1.1rem;
    }

    ul {
        list-style: none;
    }

    .projects-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        margin-block: 2rem;
    }
</style>
